<html>
<head>
  <title>hello</title>
<body>

  <header>
    {% block header %}
      <h1>hello</h1>
    {% endblock %}
  </header>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>

</body>
</html>